body {
  background-image: url(../images/torontoEdits2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #d3d9db;
  top: 0%;
}

h1 {
  padding-left: 10%;
  font-weight: 300;
  font-size: 13em;
  margin-top: 20vh;
}
